*
{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

header
{
    height: fit-content;
    align-items: center;
    background-color: white;
    border-top:rgb(0, 60, 91) solid;
    border-top-width: 1vh;
    border-bottom: red solid;
    border-bottom-width: 1vh;
}

.header
{
    font-family: 'Roboto Slab', serif;    
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 35px;
    font-weight: 500;
    flex: 1.7;
}

#image
{
    flex: 1.5;
    width: 10vw;
}

#bar
{
    align-items: center;
    display: flex;
    width: 90%;
    margin: auto;
}

#more-pages
{
    font-size: 15px;
    font-weight: 500;
    background-color: red;
    border: rgb(0, 60, 91) solid;
    border-width: 3px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.nav-links
{
    list-style: none;
}

.nav-link
{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    text-align: center;
    line-height: 40px;
    padding: 3px 10px 5px 10px;
}

.nav-link:hover
{
    color: white;
    background-color: rgb(0, 60, 91);
    text-decoration: underline;
    border-radius: 5px;
}

#selected
{
    color: white;
    background-color: rgb(0, 60, 91);
    text-decoration: underline;
    border-radius: 5px;
}

#sheet
{
    width: 90%; 
    height: 1000px;
    margin: auto;
    border: red solid;
    border-width: 5px;
    border-radius: 5px;
}

#sheets-link
{
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    padding: 10px;
    color: black;
    background-color: red;
    border: rgb(0, 60, 91) solid;
    border-width: 4px;
    border-radius: 5px;
}

#link
{
    text-align: center;
}

#end-spacer
{
    padding-bottom: 2vh;
}