*
{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

header
{
    height: fit-content;
    align-items: center;
    background-color: white;
    border-top:rgb(0, 60, 91) solid;
    border-top-width: 1vh;
    border-bottom: red solid;
    border-bottom-width: 1vh;
}

.header
{
    font-family: 'Roboto Slab', serif;    
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 35px;
    font-weight: 500;
    flex: 1.7;
}

#bar
{
    align-items: center;
    display: flex;
    width: 90%;
    margin: auto;
}

#more-pages
{
    font-size: 15px;
    font-weight: 500;
    background-color: red;
    border: rgb(0, 60, 91) solid;
    border-width: 3px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.nav-links
{
    list-style: none;
}

.nav-link
{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    text-align: center;
    line-height: 40px;
    padding: 3px 10px 5px 10px;
}

.nav-link:hover
{
    color: white;
    background-color: rgb(0, 60, 91);
    text-decoration: underline;
    border-radius: 5px;
}

.position
{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
}

#box
{
    width: 90%;
    margin: auto;
    border: rgb(0, 60, 91) solid;
    border-width: 6px;
    border-radius: 5px;
}

#gap
{
    height: 1.5vh;
}

.description
{
    text-align: center;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.name
{
    text-decoration: underline;
    font-size: 23px;
    font-weight: 500;
    border-width: 3px;
}

#last-description
{
    margin-left: auto;
    margin-right: auto;
}

.bio, .last-bio
{
    border: red solid;
    border-width: 4px;
    border-radius: 5px;
    width: 65vw;
    margin: auto;
    padding: 10px 15px 0px 15px;
}

#bottom-spacer
{
    padding-bottom: 3vh;
}

#section-gap
{
    padding: 25px;
}

#top
{
    padding-top: 15px;
}