*
{
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-track
{
    background-color: black;
}

::-webkit-scrollbar-thumb
{
    background-color: red;
    border: black solid;
    border-width: 1px;
    border-radius: 5px;
}

main
{
    background-color: black;
}

#bar
{
    background-color: rgb(1, 34, 204);
    align-items: center;
    display: flex;
    width: 100%;
    height: fit-content;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

nav
{
    flex: 5;
    height: fit-content;
}

.nav-links
{
    font-family: 'Lexend', sans-serif;
    background-color: rgb(1, 34, 204);
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style: none;
}

.nav-link
{
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    background-color: rgb(1, 34, 204);
}

#selected
{
    text-decoration: underline;
}

#pages
{
    display: none;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 6.5px 7px 6.5px 7px;
    background-color: red;
    border-radius: 7px;
    border-width: 3px;
}

#header
{
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
    padding-top: 4vh;
}

#intro
{
    font-family: 'Quicksand', sans-serif;
    width: 90%;
    margin: auto;
    line-height: 40px;
    font-size: 15px;
    font-weight: 500;
}

.description
{
    width: 90%;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-right: 30px;
    line-height: 40px;
    padding-bottom: 2vh;
    padding-left: 10px;
}

.images
{
    width: 92%;
    border-radius: 5px;
    margin-left: auto;
}

.link
{
    padding: 8px;
    background-color: red;
    border: solid white;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    float: left;
    margin-left: 0px;
    margin: auto auto auto 20px;
}

.link b
{
    color: black;
}

#bottom-content
{
    height: 37vh;
    background-color: rgb(239, 59, 59);
    border-top: rgb(65, 7, 7) solid;
    border-width: 1vh;
}

#bottom-container
{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    width: 80%; 
    margin: auto;
}

#left-column
{
    flex: 2;
    padding-top: 12vh;
    font-size: 14px;
    line-height: 4vh;
    font-weight: 700;
}

#center-column
{
    flex: 0.5;
}

#right-column
{
    flex: 2;
    text-decoration: none;
    padding-top: 5vh;
    line-height: 40px;
}

#right-column li, a
{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}