*
{
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-track
{
    background-color: black;
}

::-webkit-scrollbar-thumb
{
    background-color: red;
    border: black solid;
    border-width: 1px;
    border-radius: 5px;
}

main
{
    background-color: black;
    padding-bottom: 100vh;
}

#bar
{
    background-color: rgb(1, 34, 204);
    align-items: center;
    display: flex;
    width: 90%;
    height: fit-content;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

nav
{
    flex: 5;
    height: fit-content;
}

.nav-links
{
    font-family: 'Lexend', sans-serif;
    background-color: rgb(1, 34, 204);
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style: none;
}

.nav-link
{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    background-color: rgb(1, 34, 204);
}

.nav-link:hover
{
    text-decoration: underline;
}

#selected
{
    text-decoration: underline;
}

#pages
{
    display: none;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 6.5px 7px 6.5px 7px;
    background-color: red;
    border-radius: 7px;
    border-width: 3px;
}

#side-nav
{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 200px;
    max-width: 100%;
    background-color: rgb(1, 34, 204);
}

#side-nav ul
{
    list-style: none;
    padding-bottom: 10px;
}

#side-nav li
{
    font-family: 'Lexend', sans-serif;
    border-bottom: white solid;
    border-width: 1px;
}

#side-nav a
{
    color: white;
    font-size: 20px;
    line-height: 80px;
    font-weight: 500;
}

#side-nav li:hover, #side-nav #selected
{
    background-color: rgb(173, 22, 22);
}

@media screen and (max-width: 800px)
{
    .nav-link
    {
        display: none;
    }
    #bar
    {
        padding: 13px;
    }
    #pages
    {
        display: block;
    }
}

#bottom-content
{
    height: 35vh;
    background-color: rgb(239, 59, 59);
    border-top: rgb(65, 7, 7) solid;
    border-width: 1vh;
}

#bottom-container
{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    width: 80%; 
    margin: auto;
}

#left-column
{
    flex: 1.5;
    padding-top: 15vh;
    font-size: 22px;
}

#right-column
{
    flex: 1;
    text-decoration: none;
    padding-top: 5vh;
    line-height: 40px;
}

#right-column li, a
{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}